*{
    box-sizing: border-box;
}

.city{
    color: white;
    text-align: center;
    background-color: grey;
    font-size: 40px;
    padding: 30px;
    
    
}

nav li{
    list-style: none;
    padding:0;
    
}
nav{
    float:left;
    height: 300px;
    width: 30%;
    padding: 20px;
    background-color: silver;
}

.article{
    float: left;
    padding:20px;
    width: 70%;
    background-color:#ccc;
    height: 300px;
    
    
    
}

footer{
    text-align: center;
    color: white;
    background-color: grey;
    padding-top: 20px;
    font-size: 50px;
    
}
