*{
    box-sizing: border-box;
}

.city{
    background-color: grey;
    text-align: center;
    color: white;
    padding:25px;
    font-size: 30px;
}
nav li{
    list-style: none;
}
nav{
    float: left;
    width: 30%;
    height: 300px;
    background-color: silver;
}
.article{
    float: left;
background-color: #ccc;
width: 70%;
height: 300px;
padding: 20px;
}

footer{
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 50px;

}