*{
    margin: 0;
    padding: 0;
}
.card{
    display: inline-block;
  width:20%;
  background-color: grey;
  border-radius: 10px;
  margin:15px;
  
}
.card:hover{
    box-shadow: 2px 2px 15px red;
}
.image img{
    width:100%;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.title{
    text-align: center;
}
.des{
    text-align: center;
}
button{
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    padding: 6px;
    margin: 10px;
}
button:hover{
    background-color: greenyellow;
    color: white;
    cursor: pointer;
}
